<%- include('partials/head')%>
<%- include('partials/navbar')%>


    <h1>Home Page <%= 4 + 5 + 5 %></h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt deleniti quidem repudiandae maiores, eligendi assumenda facilis in, voluptas minima error rerum exercitationem, iusto non ex labore obcaecati perferendis ipsa esse. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint vero, id dolore cumque, rem, doloremque eius sit quae repellat quia aut? Libero cupiditate quod molestias qui. Veritatis voluptatem ex itaque?</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum impedit repellat voluptate esse animi. Nihil incidunt, magnam consectetur, natus eaque qui repellendus veritatis nulla ab ipsam temporibus, distinctio voluptatem facilis?</p>
    <%- include('partials/footer')%>